
body{
	top: 0;
	/*background: #F5F5F5*/
	background: white;

}

.header{
  	position: fixed;
  	z-index: 1000;
  	width: 100%;
  	min-height: 60px !important;
  	/*padding: 5px;*/
  	text-align: center;
  	top: 0;
  	left: 0px;
  	background: #333; 
  	/*border-bottom: 4px solid #CFCFCF;*/
  	overflow: auto;
}

.header_main{
	top: 0;
	left: 0px;
	overflow: auto;
	height: auto;
	width: 100%;
}

.tools_row{
	overflow:auto;
	height: auto;
	width: 100%;
	background: #CFCFCF;
}

.header_item{
	min-height: 60px !important;
	padding: 6px;
	background: transparent;
	color: white;
	float: left;
	/*text-align: center;*/
	left: 4px;
}

.header_logo{
	border-right: 2px solid white;
}

#logo{
	width: 60px;
	height: 60px;

}

.header_title h3{
	vertical-align: middle;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.body_content{
	margin-top: 110px;
	padding: 5px;
	left: 0;
	right: 0;
	overflow: auto;
}


.but_div{
	height: auto;
	width: auto;
	left: 0px;
	text-align: center;
	overflow: auto;
}

.input{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
	color: #333;
	padding: 2px;
	margin: 4px;
	text-align: center;
	border-style: solid;
	border-color: #333;
	background-color: white;
	cursor: pointer;
}

.chart_area{
	display: none;
	margin-top: 5px;
	height: auto;
	text-align: center;
	overflow: auto;
	background: #EBEBEA;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.chart_box{
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #ffffff;
}

.load_container{
	overflow: auto;
	/* Safari display properties */
	display: -webkit-flex; 
    -webkit-justify-content: center; 
    /* end Safari display properties */
    display: flex;
    justify-content: center;
}

#loading{
	width: 50px;
	height: 50px;
	margin: 10px;
	display: none;
}

footer{
  	width: 100%;
  	min-height: 60px !important;
  	bottom: 0;
  	left: 0;
  	background: #333;
  	overflow: auto;
}

footer p{
	height: 100%;
	vertical-align: middle;
	text-align: right;
	font-family: 'Raleway',sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
	font-style: normal;
	font-variant: normal;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
}

a:link, a:visited:active {
    color: white;
}
